<h2>Appointment Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h2>
<h2>Appointment Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h2>

<h3>
  <li> <%=  @appointment.patient.name%>
   <%= (@appointment.appointment_datetime).strftime("%B %d, %Y at %H:%M") %></li>
</h3>
